div.pdf_control > * {
  vertical-align: middle;
}

div.pdf_control label {
  display: inline-block;
}

div.pdf h4 {
  text-align: center;
}

div.pdf label {
  display: inline-block;
  min-width: 9em;
  text-align: right;
  vertical-align: middle;
}

div.pdf label:after {
  content:" :: "
}

div.pdf input {
  width: 75px;
  margin-bottom: 1px;
}

div.pdf .selectize-control {
  display: inline-block;
  width: 9em;
  margin: 0;
  vertical-align: middle;
}